.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: rgba(193, 180, 180, 0.91);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 78px;
  top: 58px;
  width: 415px;
  height: 113px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1163px;
  top: 58px;
  width: 415px;
  height: 113px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 710px;
  top: 58px;
  width: 415px;
  height: 113px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 945px;
  top: 58px;
  width: 415px;
  height: 113px;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 82px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 870px;
  position: absolute;
  left: 61px;
  top: 192px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ta-contact-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
